{% extends 'base.html' %}

{% load staticfiles %}
{% block content %}
    <div class="page-content">
        <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="index-2.html">Home</a></li>
                    <li><span>Akun Saya</span></li>
                </ul>
            </div>
        </div>
        <div class="holder mt-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 aside aside--left">
                        <div class="list-group"><a href="{% url 'akun-home' %}" class="list-group-item active">Detail Akun</a><a href="{% url 'account-history' %}" class="list-group-item">Histori Pesanan</a>  </div>
                    </div>
                    <div class="col-md-9 aside">
                        <h2>Detail Akun</h2>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h3>Personal Info</h3>
                                        <p><b>Nama Depan:</b> Jenny<br><b>nama Belakang:</b> Raider<br><b>E-mail:</b> jennyraider@hotmail.com<br><b>Tlp:</b> 876-432-4323</p>
                                        <div class="mt-2 clearfix"><a href="#" class="link-icn js-show-form" data-form="#updateDetails"><i class="icon-pencil"></i>Edit</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-3 d-none" id="updateDetails">
                            <div class="card-body">
                                <h3>Update Detail Akun</h3>
                                <div class="row mt-2">
                                    <div class="col-sm-6"><label class="text-uppercase">Nama Depan:</label>
                                        <div class="form-group"><input type="text" class="form-control" placeholder="Jenny"></div>
                                    </div>
                                    <div class="col-sm-6"><label class="text-uppercase">Nama Belakang:</label>
                                        <div class="form-group"><input type="text" class="form-control" placeholder="Raider"></div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-sm-6"><label class="text-uppercase">E-mail:</label>
                                        <div class="form-group"><input type="email" class="form-control" placeholder="jennyraider@hotmail.com"></div>
                                    </div>
                                    <div class="col-sm-6"><label class="text-uppercase">Tlp:</label>
                                        <div class="form-group"><input type="text" class="form-control" placeholder="876-432-4323"></div>
                                    </div>
                                </div>
                                <div class="mt-2"><button type="reset" class="btn btn--alt js-close-form" data-form="#updateDetails">Cancel</button> <button type="submit" class="btn ml-1">Update</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}