
{% extends 'base.html' %}

{% load staticfiles %}
{% block content %}

    <div class="page-content">
        <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="index-2.html">Home</a></li>
                    <li><span>Checkout</span></li>
                </ul>
            </div>
        </div>
        <div class="holder mt-0">
            <div class="container">
                <h1 class="text-center">Checkout page</h1>
                <div class="clearfix"></div>
                <form action="#">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card--grey">
                                <div class="card-body">
                                    <h2>ALAMAT PENGIRIMAN</h2>
                                    <p><a href="login.html">Login</a> or <a href="#">Register</a> for faster payment.</p>
                                    <div class="row mt-2">
                                        <div class="col-sm-6"><label class="text-uppercase">First Name:</label>
                                            <div class="form-group"><input type="text" class="form-control"></div>
                                        </div>
                                        <div class="col-sm-6"><label class="text-uppercase">Last Name:</label>
                                            <div class="form-group"><input type="text" class="form-control"></div>
                                        </div>
                                    </div>
                                    <label class="text-uppercase">Alamat Lengkap:</label>
                                    <div class="form-group"><input type="text" class="form-control"></div><label class="text-uppercase">No HP/Tlp:</label>
                                    <div class="form-group"><input type="text" class="form-control"></div>
                                    <div class="clearfix"><input id="formcheckoutCheckbox1" name="checkbox1" type="checkbox"> <label for="formcheckoutCheckbox1">Save address to my account</label></div>
                                </div>
                            </div>
                           
                        </div>
                        <div class="col-md-4 mt-2 mt-md-0">
                            <div class="card card--grey">
                                <div class="card-body">
                                    <h2>KURIR PENGIRIMAN</h2>
                                    <div class="clearfix"><input id="formcheckoutRadio1" value="" name="radio1" type="radio" class="radio" checked="checked"> <label for="formcheckoutRadio1">Standard Delivery $2.99 (3-5 days)</label></div>
                                    <div class="clearfix"><input id="formcheckoutRadio2" value="" name="radio1" type="radio" class="radio"> <label for="formcheckoutRadio2">Express Delivery $10.99 (1-2 days)</label></div>
                                    <div class="clearfix"><input id="formcheckoutRadio3" value="" name="radio1" type="radio" class="radio"> <label for="formcheckoutRadio3">Same-Day $20.00 (Evening Delivery)</label></div>
                                </div>
                            </div>
                            <div class="mt-2"></div>
                            <div class="card card--grey">
                                <div class="card-body">
                                    <h2>METODE PEMBAYARAN</h2>
                                    <div class="clearfix"><input id="formcheckoutRadio4" value="" name="radio2" type="radio" class="radio" checked="checked"> <label for="formcheckoutRadio4">COD / BAYAR DITEMPAT</label></div>
                                    <div class="clearfix"><input id="formcheckoutRadio5" value="" name="radio2" type="radio" class="radio"> <label for="formcheckoutRadio5">Transfer Bank</label></div>
                                    <label class="text-uppercase">Cart Number</label>
                                    <div class="form-group"><input type="text" class="form-control"></div>
                                    <div class="row">
                                        <div class="col-sm-6"><label class="text-uppercase">Month:</label>
                                            <div class="form-group select-wrapper"><select class="form-control">
                                                    <option selected="selected" value="1">January</option>
                                                    <option value="2">February</option>
                                                    <option value="3">March</option>
                                                    <option value="4">April</option>
                                                    <option value="5">May</option>
                                                    <option value="6">June</option>
                                                    <option value="7">July</option>
                                                    <option value="8">August</option>
                                                    <option value="9">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select></div>
                                        </div>
                                        <div class="col-sm-6"><label class="text-uppercase">Year:</label>
                                            <div class="form-group select-wrapper"><select class="form-control">
                                                    <option value="2019">2019</option>
                                                    <option value="2020">2020</option>
                                                    <option value="2021">2021</option>
                                                    <option value="2022">2022</option>
                                                    <option value="2023">2023</option>
                                                    <option value="2024">2024</option>
                                                </select></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6"><label class="text-uppercase">CVV Code</label>
                                            <div class="form-group"><input type="text" class="form-control"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2"></div>
                            
                        </div>
                        <div class="col-md-4 mt-2 mt-md-0">
                            <h2 class="custom-color">ORDER SUMMARY</h2>
                            <div class="cart-table cart-table--sm">
                                <div class="cart-table-prd cart-table-prd-headings d-none d-lg-table">
                                    <div class="cart-table-prd-image"></div>
                                    <div class="cart-table-prd-name"><b>ITEM</b></div>
                                    <div class="cart-table-prd-qty"><b>QTY</b></div>
                                    <div class="cart-table-prd-price"><b>PRICE</b></div>
                                </div>
                                <div class="cart-table-prd">
                                    <div class="cart-table-prd-image"><a href="#"><img src="images/products/xsmall/product-05.jpg" alt=""></a></div>
                                    <div class="cart-table-prd-name">
                                        <h2><a href="#">Checkered shirt</a></h2>
                                    </div>
                                    <div class="cart-table-prd-qty"><b>1</b></div>
                                    <div class="cart-table-prd-price"><b>$ 75.00</b></div>
                                </div>
                                <div class="cart-table-prd">
                                    <div class="cart-table-prd-image"><a href="#"><img src="images/products/xsmall/product-02.jpg" alt=""></a></div>
                                    <div class="cart-table-prd-name">
                                        <h2><a href="#">Long top with print</a></h2>
                                    </div>
                                    <div class="cart-table-prd-qty"><b>1</b></div>
                                    <div class="cart-table-prd-price"><b>$ 20.00</b></div>
                                </div>
                                <div class="cart-table-prd">
                                    <div class="cart-table-prd-image"><a href="#"><img src="images/products/xsmall/product-14.jpg" alt=""></a></div>
                                    <div class="cart-table-prd-name">
                                        <h2><a href="#">Knitted sweater</a></h2>
                                    </div>
                                    <div class="cart-table-prd-qty"><b>1</b></div>
                                    <div class="cart-table-prd-price"><b>$ 199.00</b></div>
                                </div>
                            </div>
                            <div class="card-total-sm">
                                <div class="float-right">Subtotal <span class="card-total-price">$ 294.00</span></div>
                            </div>
                            <div class="mt-2"></div>
                            
                            <div class="mt-2"></div>
                            <div class="clearfix"><button type="submit" class="btn btn--lg w-100">Place Order</button></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}