{% extends 'base.html' %}

{% load staticfiles %}
{% block content %}
    <div class="page-content">
         <!-- BN Slider 1 -->
        <div class="holder fullwidth full-nopad mt-0">
            <div class="container">
                <div class="bnslider-wrapper">
                    <div class="bnslider bnslider--lg keep-scale" id="bnslider-001" data-slick='{"arrows": true, "dots": true}' data-autoplay="false" data-speed="5000" data-start-width="1920" data-start-height="845" data-start-mwidth="480" data-start-mheight="578">
                        <div class="bnslider-slide bnslide-sport-2">
                            <div class="bnslider-image-mobile" style="background-image: url('images/home-sport/slider/slide-sport2-mobile.jpg');"></div>
                            <div class="bnslider-image" style="background-image: url({% static 'images/home-sport/slider/slide-sport2.jpg' %});"></div>
                            <div class="bnslider-text-wrap bnslider-overlay">
                                <div class="bnslider-text-content txt-right txt-center">
                                    <div class="bnslider-text-content-flex container">
                                        <div class="bnslider-vert">
                                            <div class="bnslider-text bnslider-text--lg" data-animation="fadeInRight" data-animation-delay="0.2s">- 50%</div>
                                            <div class="bnslider-text bnslider-text--sm" data-animation="fadeInRight" data-animation-delay="1s" style="margin-top: 1.5em; font-size: .3em">FOR MAN SPORT CLOTHES</div>
                                            <div class="bnslider-text bnslider-text--xxs" data-animation="fadeInRight" data-animation-delay="1.6s" style="margin-top: 1.6em;">TILL DECEMBER 15</div>
                                            <div class="btn-wrap" data-animation="fadeIn" data-animation-delay="3s"><a href="#" class="btn-decor">shop now<span class="btn-line"></span></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bnslider-slide bnslide-sport-1">
                            <div class="bnslider-image-mobile" style="background-image: url('images/home-sport/slider/slide-sport1-mobile.jpg');"></div>
                            <div class="bnslider-image" style="background-image: url({% static 'images/home-sport/slider/slide-sport2.jpg' %});"></div>
                            <div class="bnslider-text-wrap bnslider-overlay">
                                <div class="bnslider-text-content txt-middle txt-center">
                                    <div class="bnslider-text-content-flex container">
                                        <div class="bnslider-vert border" data-animation="zoomIn" data-animation-delay="0s">
                                            <div class="bnslider-text bnslider-text--lg" data-animation="popIn" data-animation-delay="0.2s">NEW</div>
                                            <div class="bnslider-text bnslider-text--sm" data-animation="fadeIn" data-animation-delay="1s" style="margin-top: 1.5em; font-size: .3em">SPORT SHOES</div>
                                            <div class="bnslider-text bnslider-text--xxs" data-animation="fadeIn" data-animation-delay="1.6s" style="margin-top: 1.6em;">SINCE MAY 15</div>
                                            <div class="btn-wrap" data-animation="fadeIn" data-animation-delay="2s"><a href="#" class="btn-decor">shop now<span class="btn-line"></span></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bnslider-slide bnslide-sport-3">
                            <div class="bnslider-image-mobile" style="background-image: url('images/home-sport/slider/slide-sport3-mobile.jpg');"></div>
                            <div class="bnslider-image" style="background-image: url({% static 'images/home-sport/slider/slide-sport2.jpg' %});"></div>
                            <div class="bnslider-text-wrap bnslider-overlay">
                                <div class="bnslider-text-content txt-left txt-center">
                                    <div class="bnslider-text-content-flex container">
                                        <div class="bnslider-vert">
                                            <div class="bnslider-text bnslider-text--lg" data-animation="fadeInLeft" data-animation-delay="0.2s">SALE</div>
                                            <div class="bnslider-text bnslider-text--sm" data-animation="fadeInLeft" data-animation-delay="1s" style="margin-top: 1.5em; font-size: .3em">WOMEN’S SPORT CLOTHES</div>
                                            <div class="bnslider-text bnslider-text--xxs" data-animation="fadeInLeft" data-animation-delay="1.6s" style="margin-top: 1.6em;">SUMMER - AUTUMN</div>
                                            <div class="btn-wrap" data-animation="fadeIn" data-animation-delay="3s"><a href="#" class="btn-decor">shop now<span class="btn-line"></span></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bnslider-loader">
                        <div class="loader-wrap">
                            <div class="dots">
                                <div class="dot one"></div>
                                <div class="dot two"></div>
                                <div class="dot three"></div>
                            </div>
                        </div>
                    </div>
                    <div class="bnslider-arrows container">
                        <div></div>
                    </div>
                    <div class="bnslider-dots container"></div>
                </div>
            </div>
        </div>
        <!-- //BN Slider 1 -->
        <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    {% comment %} <li><a href="index-2.html">Home</a></li>
                    <li><span>Category</span></li> {% endcomment %}
                </ul>
            </div>
        </div>

            <div class="container">
                <!-- Two columns -->
                <div class="page-title text-center d-none d-lg-block">
                                    <div class="title">
                                        <h1>PRODUK KAMI</h1>
                                    </div>
                                </div>
  
                <div class="row">

                    <!-- Left column -->
                    <div class="col-lg-3 aside aside--left fixed-col js-filter-col">
                        <div class="fixed-col_container">
                            <div class="filter-close">TUTUP</div>
                            <div class="sidebar-block sidebar-block--mobile d-block d-lg-none">
                                <div class="d-flex align-items-center">
                                    <div class="selected-label">(6) FILTER</div>
                                    <div class="selected-count ml-auto">DIPILIH <span><b>25 item</b></span></div>
                                </div>
                            </div>
                            
                            <div class="sidebar-block filter-group-block collapsed">
                                <div class="sidebar-block_title"><span>Kategori</span>
                                    <div class="toggle-arrow"></div>
                                </div>
                                <div class="sidebar-block_content">
                                    <ul class="category-list">
                                        <li class="active"><a href="#">Wanita</a></li>
                                        <li><a href="#">Pria</a></li>
                                       
                                    </ul>
                                </div>
                            </div>
                            <div class="sidebar-block filter-group-block collapsed">
                                <div class="sidebar-block_title"><span>Warna</span>
                                    <div class="toggle-arrow"></div>
                                </div>
                                <div class="sidebar-block_content">
                                    <ul class="color-list two-column">
                                        <li class="active"><a href="#" data-tooltip="Very long some color name" title="Very long some color name"><span class="value"><img src="images/colorswatch/color-red.png" alt=""></span><span class="colorname">Very long some color name (125)</span></a></li>
                                        <li><a href="#" data-tooltip="Pink" title="Pink"><span class="value"><img src="images/colorswatch/color-pink.png" alt=""></span><span class="colorname">Pink (125)</span></a></li>
                                        <li><a href="#" data-tooltip="Violet" title="Violet"><span class="value"><img src="images/colorswatch/color-violet.png" alt=""></span><span class="colorname">Violet (125)</span></a></li>
                                      
                                    </ul>
                                </div>
                            </div>
                         
                            <div class="sidebar-block filter-group-block collapsed">
                                <div class="sidebar-block_title"><span>Harga</span>
                                    <div class="toggle-arrow"></div>
                                </div>
                                <div class="sidebar-block_content">
                                    <ul class="category-list">
                                        <li><a href="#">$100-$200</a></li>
                                        <li class="active"><a href="#">Lebih dari 200rb</a></li>
                                        <li><a href="#">Dibawah $100</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="sidebar-block filter-group-block collapsed">
                                <div class="sidebar-block_title"><span>Ukuran</span>
                                    <div class="toggle-arrow"></div>
                                </div>
                                <div class="sidebar-block_content">
                                    <ul class="size-list" data-sort='["XXS","XS","S","M","L","XL","XXL","XXXL"]'>
                                        <li data-value="L" class="active"><a href="#">L</a></li>
                                        <li data-value="XL"><a href="#">XL</a></li>
                                        <li data-value="XXS"><a href="#">XXS</a></li>
                                        <li data-value="XS"><a href="#">XS</a></li>
                                        <li data-value="S"><a href="#">S</a></li>
                                        <li data-value="XXL"><a href="#">XXL</a></li>
                                        <li data-value="XXXL"><a href="#">XXXL</a></li>
                                    </ul>
                                </div>
                            </div>
                         
                            
                        </div>
                    </div>
                    <!-- /Left column -->
                    <!-- Center column -->
                    <div class="col-lg aside">
                        <div class="prd-grid-wrap">
                            <!-- Filter Row -->
                            <div class="filter-row invisible">
                                <div class="row row-1 d-lg-none align-items-center">
                                    <div class="col">
                                        <h1 class="category-title">WOMEN’S</h1>
                                    </div>
                                    <div class="col-auto ml-auto">
                                        <div class="view-in-row d-md-none"><span data-view="data-to-show-sm-1"><i class="icon icon-view-1"></i></span> <span data-view="data-to-show-sm-2"><i class="icon icon-view-2"></i></span></div>
                                        <div class="view-in-row d-none d-md-inline"><span data-view="data-to-show-md-2"><i class="icon icon-view-2"></i></span> <span data-view="data-to-show-md-3"><i class="icon icon-view-3"></i></span></div>
                                    </div>
                                </div>
                                <div class="row row-2">
                                    <div class="col-left d-flex align-items-center">
                                        <div class="sort-by-holder">
                                            <div class="select-label d-none d-lg-inline">Urutkan :</div>
                                            <div class="select-wrapper-sm d-none d-lg-inline-block"><select class="form-control input-sm">
                                                
                                                    <option value="price">Harga</option>
                                                </select></div>
                                            <div class="select-directions d-none d-lg-inline"><span><i class="icon icon-arrow-down"></i></span> <span><i class="icon icon-arrow-up"></i></span></div>
                                            <div class="dropdown d-flex d-lg-none align-items-center justify-content-center"><span class="select-label">Urutkan :</span>
                                                <div class="select-wrapper-sm"><select class="form-control input-sm">
                                                   
                                                        <option value="price">Harga</option>
                                                    </select></div>
                                            </div>
                                        </div>
                                        <div class="filter-button d-lg-none"><a href="#" class="fixed-col-toggle">FILTER</a></div>
                                    </div>
                                    <div class="col col-center d-none d-lg-flex align-items-center justify-content-center">
                                        <div class="view-label">Tampilan:</div>
                                        <div class="view-in-row"><span data-view="data-to-show-4"><i class="icon icon-view-4"></i></span><span data-view="data-to-show-3"><i class="icon icon-view-3"></i></span> </div>
                                    </div>
                                    <div class="col-right ml-auto d-none d-lg-flex align-items-center">
                                        <div class="items-count">35 item(s)</div>
                                        <div class="show-count-holder">
                                            <div class="select-label">Perlihatkan:</div>
                                            <div class="select-wrapper-sm"><select class="form-control input-sm">
                                                    <option value="featured">12</option>
                                                    <option value="rating">36</option>
                                                    <option value="price">100</option>
                                                </select></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Filter Row -->

                            <!-- Products Grid -->
                            <div class="prd-grid product-listing data-to-show-3 data-to-show-md-3 data-to-show-sm-2 js-category-grid">

                              <!-- luar--> 
                        {% for barangs in barang %}
                         <!-- dalam--> 
                                <div class="prd prd-has-loader prd-new prd-popular">
                                    <div class="prd-inside">
                                        <div class="prd-img-area"><a href="{% url 'barang-detail' %}" class="prd-img"><img src="{% static 'images/products/product-01.jpg'%}" data-srcset="{% static 'images/products/product-01.jpg'%}" alt="Glamor shoes" class="js-prd-img lazyload"></a>
                                            <ul class="list-options color-swatch prd-hidemobile">
                                                <li data-image="images/products/product-01.jpg"><a href="#" class="js-color-toggle"><img src="{% static 'images/products/product-01.jpg'%}" data-srcset="{% static 'images/products/product-01.jpg'%}" class="lazyload" alt="Color Name"></a></li>
                                                <li data-image="images/products/product-01-2.jpg"><a href="#" class="js-color-toggle"><img src="{% static 'images/products/product-01.jpg'%}" data-srcset="{% static 'images/products/product-01.jpg'%}" class="lazyload" alt="Color Name"></a></li>
                                            </ul>
                                            <div class="gdw-loader"></div>
                                        </div>
                                        <div class="prd-info">
                                          
                                            <h2 class="prd-title"><a href="{% url 'barang-detail' %}">{{ barangs.namaproduk}}</a></h2>
                                            <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                                            <div class="prd-price">
                                                <div class="price-new">IDRx {{ barangs.harga}}</div>
                                            </div>
                                            <div class="prd-hover">
                                                <div class="prd-action">
                                                    <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Masukkan Keranjang</span></button></form>
                                                    <div class="prd-links"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                                                </div>
                                                <div class="prd-options prd-hidemobile"><span class="label-options">Ukuran:</span>
                                                    <ul class="list-options size-swatch">
                                                        <li class="active"><span>xs</span></li>
                                                        <li><span>s</span></li>
                                                        <li><span>m</span></li>
                                                        <li><span>l</span></li>
                                                        <li><span>xl</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        {% endfor %}

                            </div>
                            <div class="loader-wrap">
                                <div class="dots">
                                    <div class="dot one"></div>
                                    <div class="dot two"></div>
                                    <div class="dot three"></div>
                                </div>
                            </div>
                            <!-- /Products Grid -->
                            <div class="show-more d-flex mt-4 mt-md-6 justify-content-center align-items-start"><a href="#" class="btn btn--alt js-product-show-more" data-load="ajax/ajax-products-load.html">show more</a>
                                <ul class="pagination mt-0">
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /Center column -->
                </div>
                <!-- /Two columns -->
            </div>
        </div>
    </div>
{% endblock %}