{% extends 'base.html' %}

{% load staticfiles %}
{% block content %}
    <div class="page-content">
        <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="index-2.html">Home</a></li>
                    <li><span>Cart</span></li>
                </ul>
            </div>
        </div>
        <div class="holder mt-0">
            <div class="container">
                <h1 class="text-center">Keranjang Belanja</h1>
                <div class="row">
                    <div class="col-md-8">
                        <div class="cart-table">
                            
                            
                            <div class="cart-table-prd">
                                <div class="cart-table-prd-image"><a href="#"><img src="images/products/xsmall/product-05.jpg" alt=""></a></div>
                                <div class="cart-table-prd-name">
                                    <h5><a href="#">canverse</a></h5>
                                    <h2><a href="#">Checkered shirt</a></h2>
                                </div>
                                <div class="cart-table-prd-qty"><span>jumlah:</span> <b>1</b></div>
                                <div class="cart-table-prd-price"><span>harga:</span> <b>IDR 75.00</b></div>
                                <div class="cart-table-prd-action"><a href="#" class="icon-heart"></a> <a href="#" class="icon-pencil"></a> <a href="#" class="icon-cross"></a></div>
                            </div>
                      
                            <div class="cart-table-total">
                                <div class="row">
                                    <div class="col-sm"><a href="#" class="btn btn--alt"><i class="icon-cross"></i><span>bersihkan keranjang belanja</span></a> <a href="#" class="btn btn--grey"><i class="icon-repeat"></i><span>update cart</span></a></div>
                                    <div class="col-sm-auto"><a href="#" class="btn"><i class="icon-angle-left"></i><span>lanjutkan belanja</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="sidebar-block">
                            <div class="card-total text-uppercase">Subtotal <span class="card-total-price">IDR 294.00</span></div><a href="{% url 'checkouts-home' %}" class="btn btn--full btn--lg"><span>Lanjutkan Checkout</span></a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}