{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content %}
    <div class="page-content">
        <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="index-2.html">Home</a></li>
                    <li><span>Masuk</span></li>
                </ul>
            </div>
        </div>
        <div class="holder mt-0">
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-sm-6 col-md-4">
                        <div id="loginForm">
                            <h2 class="text-center">Upload Bukit Pembayaran</h2>
                            <div class="form-wrapper">
                                <p>Silahkan upload bukti tranfer <br> dalam bentuk gambar atau foto.</p>
                                <form action="{% url 'bayar_upload' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                 {{ pembayaran_form|crispy }}
                                  <button type="submit" class="btn ml-1">Submit</button>
                                    {% comment %} <div class="form-group"><input type="text" class="form-control" placeholder="Email"></div>
                                    <div class="form-group"><input type="password" class="form-control" placeholder="Password"></div>
                                    <p class="text-uppercase"><a href="#" class="js-toggle-forms">Forgot Your Password?</a></p>
                                    <div class="clearfix"><input id="checkbox1" name="checkbox1" type="checkbox" checked="checked"> <label for="checkbox1">Ingat Saya</label></div><button type="submit" class="btn">Masuk</button> {% endcomment %}
                                </form>
                            </div>
                        </div>
                        <div id="recoverPasswordForm" class="d-none">
                            <h2 class="text-center">RESET PASSWORD</h2>
                            <div class="form-wrapper">
                                <p></p>
                                <form action="#">
                                    <div class="form-group"><input type="text" class="form-control" placeholder="Your Name"></div>
                                    <div class="form-group"><input type="password" class="form-control" placeholder="Password"></div>
                                    <div class="btn-toolbar"><a href="#" class="btn btn--alt js-toggle-forms">Cancel</a> <button class="btn ml-1">Submit</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-divider"></div>
                    <div class="col-sm-6 col-md-4 mt-3 mt-sm-0">
                        <h2 class="text-center">PEMBAYARAN</h2>
                        <div class="form-wrapper">
                            <p>Silahkan bayar ke Rekening BCA: 1234 1234 1234 1234
                                <BR> AN: DR.Kevin.
                                <br> <h3>Sejumlah: {{ total }}</h3>
                                <br>
                                <br>Kemudian Upload Bukti Pembayaran pada form disebelah kiri.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}