{% extends 'base.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="page-content">
        <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="index-2.html">Home</a></li>
                    <li><span>Buat Akun</span></li>
                </ul>
            </div>
        </div>
        <div class="holder mt-0">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-8 col-md-6">
                        <h2 class="text-center">Buat Akun</h2>
                        <div class="form-wrapper">
                            <p>Untuk dapat membeli barang di online shop ini, silahkan buat akun.</p>
                            <form action="#" method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}

                                <div class="text-center"><button class="btn" type="submit">Buat Akun</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}